API_BASE=https://prms-api.fid-app.my.id/api
EMAIL=your_email@example.com
PASSWORD=your_password
BASE_LATITUDE=-6.159868350846804
BASE_LONGITUDE=106.87936991839877
NOTE=Standby POC AURORA
TZ=Asia/Jakarta

# Telegram Bot Configuration (Optional)
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
